<% @links.each do |link| %>
<div class="links">
  <%= link.title %></br>
  <%= link_to "Link", link.url, :target => "_blank" %>
  <%= button_to "Edit", edit_link_path(link), method: :get %>
</div></br>
<% end %>
